#c_div{
    background: #ff0088;opacity: .5;
}


td{
    border: 2px solid;
    font-size: 2rem;
    font-family: "DejaVu Sans Mono";
    text-align: center;
}

input{
    display: block;
}
#c_p{
    position: absolute;
    top: 100px;
    left: 100px;
}

.b_red{
    background-color: green;
    opacity: .5;
}
.f_green{
    color: yellow;
}