#abc{
    height: 20px;
    background: red;
}


td{
    border: 2px solid;
    font-size: 2rem;
    font-family: "DejaVu Sans Mono";
    text-align: center;
}

input{
    display: block;
}
#c_p{
    display: inline-block;
}