#c_div{
}

td{
    border: 2px solid red;
    font-size: 2rem;
    font-family: "DejaVu Sans Mono";
    text-align: center;
}

input{
    display: block;
}
#c_p{
}

.b_red{
    background-color: red;
}
.f_green{
    color: green;
}

#scroll{
    height: 100px;
    width:300px;
    margin:20px 0;
    overflow:auto; /*需要的时候会出现滚动条*/
}

#scroll input[type="text"]{
    margin: 10px 0;
}